<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistAction</servlet-name>
    <servlet-class>action.RegistAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServiceAction</servlet-name>
  	<servlet-class>action.ServiceAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistGuideAction</servlet-name>
  	<servlet-class>action.RegistGuideAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchTrack</servlet-name>
  	<servlet-class>action.SearchTrack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DetailAction</servlet-name>
  	<servlet-class>action.DetailAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserInfo</servlet-name>
  	<servlet-class>action.UpdateUserInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateTrack</servlet-name>
  	<servlet-class>action.CreateTrack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTrack</servlet-name>
  	<servlet-class>action.UpdateTrack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PublicServiceAction</servlet-name>
  	<servlet-class>action.PublicServiceAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowTrack</servlet-name>
  	<servlet-class>action.ShowTrack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMyTrack</servlet-name>
  	<servlet-class>action.ShowMyTrack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTrack</servlet-name>
    <servlet-class>action.DeleteTrack</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SearchMyTrack</servlet-name>
    <servlet-class>action.SearchMyTrack</servlet-class>
  </servlet>

	<servlet>
    <servlet-name>NoteAction</servlet-name>
    <servlet-class>action.NoteAction</servlet-class>
  </servlet>

    <servlet>
        <servlet-name>TranspondAction</servlet-name>
        <servlet-class>action.TranspondAction</servlet-class>
    </servlet>


    <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailAction</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistAction</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistGuideAction</servlet-name>
  	<url-pattern>/registguide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PublicServiceAction</servlet-name>
  	<url-pattern>/publicService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServiceAction</servlet-name>
  	<url-pattern>/service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchTrack</servlet-name>
  	<url-pattern>/searchtrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserInfo</servlet-name>
  	<url-pattern>/updateuserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTrack</servlet-name>
  	<url-pattern>/createtrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTrack</servlet-name>
  	<url-pattern>/updatetrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMyTrack</servlet-name>
    <url-pattern>/showmytrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTrack</servlet-name>
    <url-pattern>/showtrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTrack</servlet-name>
    <url-pattern>/deletetrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMyTrack</servlet-name>
    <url-pattern>/searchmytrack</url-pattern>
  </servlet-mapping>

	<servlet-mapping>
    <servlet-name>NoteAction</servlet-name>
    <url-pattern>/note</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TranspondAction</servlet-name>
        <url-pattern>/transpond</url-pattern>
    </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>Filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> -->
</web-app>
